mixin taskRow(task)
    td
        input(type="text", ng-model="#{task}.description")
    td
        input(type="text", ng-model="#{task}.project")
    td
        ul.task-table--times
            li(ng-repeat="time in #{task}.times")
                +timeRow("time")
            li
                +timeRow(task + ".newTime")

mixin timeRow(time)
    input(type="text", ng-model="#{time}.start")
    span -
    input(type="text", ng-model="#{time}.end")
