mixin taskRow(task)
    td
        input(type="text", ng-model="#{task}.description")
    td
        input(type="text", ng-model="#{task}.project")
    td
        div(ng-repeat="time in #{task}.times")
            +timeRow("time")
        div
            +timeRow(task + ".newTime")

mixin timeRow(time)
    input(type="text", ng-model="#{time}.start")
    span -
    input(type="text", ng-model="#{time}.end")

doctype html
html(lang="de", ng-app="timeManager")
    head
        title Time Manager
        meta(charset="utf-8")

        link(rel="stylesheet", href="styles/main.min.css")
        script(src="//code.angularjs.org/1.5.0-rc.0/angular.min.js")
        script(src="scripts/main.min.js")

    body

        div(ng-controller="MainController as main")
        
            table
                thead
                    tr
                        th Beschreibung
                        th Projekt
                        th Zeit

                tbody
                    tr(ng-repeat="task in main.tasks", data-task-id="{{ task.taskId }}")
                        +taskRow("task")
                    tr
                        +taskRow("main.newTask")
