mixin icon(type, click)
    i.fa.fa-fw(class="fa-#{type}", ng-click="#{click}")

mixin time(time)
    input.input-group-field(type="text", ng-model="#{time}.start")
    span.input-group-label -
    input.input-group-field(type="text", ng-model="#{time}.end")

mixin taskInfo(task)
    input(type="text", ng-model="#{task}.description")

doctype html
html(lang="de", ng-app="timeManager")
    head
        title Time Manager
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="styles/main.min.css")

    body

        .container

            h1.title Aufgabenliste

            div(ng-controller="MainController as main")

                .task-list

                    .task-list--item(ng-repeat="task in main.tasks")

                        .task-list--item-info
                            .input-group
                                +taskInfo("task")
                            .task-list--actions
                                +icon("check", "main.updateTask(task)")
                                +icon("times", "main.deleteTask(task)")

                        ul.task-list--times

                            li.task-list--times-item(ng-repeat="time in task.times")
                                .input-group
                                    +time("time")
                                .task-list--actions
                                    +icon("times", "main.deleteTime(task, time)")
                            li.task-list--times-item
                                .input-group
                                    +time("newTime")
                                .task-list--actions
                                    +icon("plus", "main.addTime(task, newTime)")

                    .task-list--item

                        .task-list--item-info.task-list--item-info__new
                            .input-group
                                +taskInfo("newTask")
                            .task-list--actions
                                +icon("plus", "main.createTask(newTask)")

        script(src="//code.angularjs.org/1.5.0-rc.0/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="scripts/main.min.js")
